
{% extends '::base.html.twig' %}



 
{% block body %}
<div class="col-md-12 col-lg-12 col-xs-12">
							<div class="col-md-12 col-lg-12 col-xs-12">
								<h3 class="block-title"> {{ "Quad_dans_la_Palmeraie_ou_région_Amzmiz"|trans() }}</h3>
                                                        </div>

							<div class="col-md-12 col-lg-12 col-xs-12">
                                                                
									<div class="col-md-3 col-lg-3 col-xs-12">
										<img alt="" src="{{asset('/images/2page-img3.jpg') }}" />
                                                                        </div>
                                                                                <div class="col-md-8 col-lg-8 col-xs-12">
                                                                                <div class="text">
                                            <ul class="list-group">
                                            	<li class="list-group-item">{{ "Transfert_A/R"|trans() }}</li>
                                                <li class="list-group-item">{{ "Briefing_et_équipements"|trans() }}</li>
                                                <li class="list-group-item">{{ "Départ_avec_votre_guide"|trans() }}</li>
                                                <li class="list-group-item">{{ "Pause_sur_le_haut_de_la_coline"|trans() }}</li>
                                                <li class="list-group-item">{{ "Dégustation_chez_l_habitant"|trans() }}</li>
                                                <li class="list-group-item">{{ "Traversée_de_villages_berbères"|trans() }}</li>
                                            </ul>
										</div>
                                       			</div>
								</div>
                                </div>
  {% endblock %}

{% block stylesheets %}

{% endblock %}

   
        {% block javascripts %} 
         
     
{% endblock %}
