
{% extends '::base.html.twig' %}



 
{% block body %}

<h3> {{ "Les_suites_et_Les_chambres_du_Riad_Mazal"|trans()}}</h3>
<div class="clearfix">
	<div class="text">
		<p>{{ "Les_suites_et_Les_chambres_du_Riad_Mazal_text"|trans()}}
                    </p>
	</div>
	</div>
    <ul  class="nav nav-pills rooms">
			<li class="active">
        <a  href="#Suite_Rose" data-toggle="tab">La Suite Rose </a>
			</li>
			<li><a href="#Suite_Beldi" data-toggle="tab">La Suite Beldi</a>
			</li>
			<li><a href="#Chambre_Arc-en-ciel" data-toggle="tab">La Chambre Arc-en-ciel</a>
			</li>
  		<li><a href="#Chambre_Etoile" data-toggle="tab">La Chambre Etoile</a>
			</li>
                        <li><a href="#Chambre_Lis" data-toggle="tab">La Chambre Lis</a>
			</li>
  		<li><a href="#Chambre_Bleu" data-toggle="tab">La Chambre  Bleu</a>
			</li>
                        <li><a href="#Chambre_Lune" data-toggle="tab">La Chambre Lune</a>
			</li>
                        <li><a href="#Chambre_Soleil" data-toggle="tab">La Chambre  Soleil</a>
			</li>
		</ul>
		<div class="tab-content clearfix">
			  <div class="tab-pane active" id="Suite_Rose">
                              <h3>Suite Rose </h3>
             
              <div class="col-lg-12 col-md-12 col-xs-12" >
<div class="clearfix">
	<div class="text">
		<p> {{ "Les_suites_et_Les_chambres_du_Riad_Mazal_Rose_text"|trans()}}.</p>
	</div>
	</div>
							
                            
								
                                <div id="gallery" style="display:none;">
                                    <img alt="La Suite Rose: Chambre" src="{{asset ("/images/images_petit/IMG_6110.jpg")}}"
				data-image="{{asset ("/images/images_large/IMG_6110.jpg")}}"
				data-description="Image 1 Description">
                                    <img alt="La Suite Rose: Salle de bain" src="{{asset ("/images/images_petit/IMG_6123.jpg")}}"
				data-image="{{asset ("/images/images_large/IMG_6123.jpg")}}"
				data-description="Image 1 Description">
			
			<img alt="La Suite Rose: Salle de bain" src="{{asset ("/images/images_petit/IMG_6124.jpg")}}"
				data-image="{{asset ("/images/images_large/IMG_6124.jpg")}}"
				data-description="Image 2 Description">
                       
</div>
</div>
</div>

				
				<div class="tab-pane" id="Suite_Beldi">
       
                  <h3> Suite Beldi</h3>
               
						<div class="text">
						<p>{{ "Les_suites_et_Les_chambres_du_Riad_Mazal_Beldi_text"|trans()}}
                                                   </p>
						</div>
						
						
                            
								
                                                    <div id="SuiteBeldi" style="display:none;">
                                                        <img alt="La Suite Beldi: Chambre" src="{{asset ("/images/images_petit/IMG_6199.jpg")}}"
                                                    data-image="{{asset ("/images/images_large/IMG_6199.jpg")}}"
                                                    data-description="La Suite Beldi: Chambre">
                                                        <img alt="La Suite Beldi: Chambre" src="{{asset ("/images/images_petit/beldi.jpg")}}"
                                                    data-image="{{asset ("/images/images_large/beldi.jpg")}}"
                                                    data-description="La Suite Beldi: Chambre">

                                            <img alt="La Suite Beldi: Salle de bain" src="{{asset ("/images/images_petit/IMG_6204.jpg")}}"
                                                    data-image="{{asset ("/images/images_large/IMG_6204.jpg")}}"
                                                    data-description="La Suite Beldi: Salle de bain">

</div>
</div>

                               
        <div class="tab-pane" id="Chambre_Arc-en-ciel">
                    <h3> La Chambre Arc-en-ciel</h3>
                 
						<div class="text">
						<p>{{ "Les_suites_et_Les_chambres_du_Riad_Mazal_AE_text"|trans()}}
                                                   </p>
						</div>
						
						
                            
								
                                                    <div id="ChambreArc-en-ciel" style="display:none;">
                                                        <img alt="Chambre Arc-en-ciel: Chambre" src="{{asset ("/images/images_petit/DSC_1003.jpg")}}"
                                                    data-image="{{asset ("/images/images_large/DSC_1003.jpg")}}"
                                                    data-description="Chambre Arc-en-ciel: Chambre">
                                                        <img alt="Chambre Arc-en-ciel: Chambre" src="{{asset ("/images/images_petit/DSC_10032.jpg")}}"
                                                    data-image="{{asset ("/images/images_large/DSC_10032.jpg")}}"
                                                    data-description="Chambre Arc-en-ciel: Chambre">

                                            <img alt="Chambre Arc-en-ciel: Chambre" src="{{asset ("/images/images_petit/petit1.png")}}"
                                                    data-image="{{asset ("/images/images_large/grand1.png")}}"
                                                    data-description="Chambre Arc-en-ciel: Chambre"> 
                                             <img alt="Chambre Arc-en-ciel: Chambre" src="{{asset ("/images/images_petit/petit2.png")}}"
                                                    data-image="{{asset ("/images/images_large/grand2.png")}}"
                                                    data-description="Chambre Arc-en-ciel: Chambre">

</div>
</div>
       
          <div class="tab-pane" id="Chambre_Etoile">
          <h3> La Chambre Etoile </h3>
                  
						<div class="text">
						<p>{{ "Les_suites_et_Les_chambres_du_Riad_Mazal_Etoile_text"|trans()}}
                                                   </p>
										</div>
						
                            
								
                                                    <div id="ChambreEtoile" style="display:none;">
                                                        <img alt="Chambre Etoile: Chambre" src="{{asset ("/images/images_petit/IMG_6150.jpg")}}"
                                                    data-image="{{asset ("/images/images_large/IMG_6150.jpg")}}"
                                                    data-description="Chambre Etoile: Chambre">
                                                        <img alt="Chambre Etoile: Chambre" src="{{asset ("/images/images_petit/Photo198.jpg")}}"
                                                    data-image="{{asset ("/images/images_large/Photo198.jpg")}}"
                                                    data-description="Chambre Etoile : Chambre">

                                            <img alt="La Chambre Etoile: Salle de bain" src="{{asset ("/images/images_petit/IMG_6163.jpg")}}"
                                                    data-image="{{asset ("/images/images_large/IMG_6163.jpg")}}"
                                                    data-description="La Chambre Etoile: Salle de bain"> 
                                           

</div>
</div>
         
		 <div class="tab-pane" id="Chambre_Lis">
          <h3> La Chambre Lis </h3>
           
						<div class="text">
						<p>{{ "Les_suites_et_Les_chambres_du_Riad_Mazal_Lis_text"|trans()}}
                                                   </p>
                                                </div>
						
                            
								
                                                    <div id="ChambreLis" style="display:none;">
                                                        <img alt="Chambre Lis: Chambre" src="{{asset ("/images/images_petit/IMG_6316.jpg")}}"
                                                    data-image="{{asset ("/images/images_large/IMG_6316.jpg")}}"
                                                    data-description="Chambre Lis: Chambre">
                                                        <img alt="Chambre Lis: Chambre" src="{{asset ("/images/images_petit/chambrelis.jpg")}}"
                                                    data-image="{{asset ("/images/images_large/chambrelis.jpg")}}"
                                                    data-description="Chambre Lis : Chambre">

                                            <img alt="La Chambre Lis: Salle de bain" src="{{asset ("/images/images_petit/IMG_6315.jpg")}}"
                                                    data-image="{{asset ("/images/images_large/IMG_6315.jpg")}}"
                                                    data-description="La Chambre Lis: Salle de bain"> 
                                           

</div>
</div>
         	 <div class="tab-pane" id="Chambre_Bleu">
          <h3> La Chambre Bleu </h3>
              
						<div class="text">
				<p>{{ "Les_suites_et_Les_chambres_du_Riad_Mazal_Bleu_text"|trans()}}
                                    </p>
						 </div>
                                                    <div id="ChambreBleu" style="display:none;">
                                                        <img alt="Chambre Bleu: Chambre" src="{{asset ("/images/images_petit/IMG_6095.jpg")}}"
                                                    data-image="{{asset ("/images/images_large/IMG_6095.jpg")}}"
                                                    data-description="Chambre Bleu: Chambre">
                                                        <img alt="La Chambre Bleu: Salle de bain" src="{{asset ("/images/images_petit/IMG_6103.jpg")}}"
                                                    data-image="{{asset ("/images/images_large/IMG_6103.jpg")}}"
                                                    data-description="La Chambre Bleu: Salle de bain">

                                            <img alt="La Chambre Bleu: Chambre" src="{{asset ("/images/images_petit/IMG_6102.jpg")}}"
                                                    data-image="{{asset ("/images/images_large/IMG_6102.jpg")}}"
                                                    data-description="La Chambre Bleu: Chambre"> 
                                           

</div>
</div>
         
        <div class="tab-pane" id="Chambre_Lune">
          <h3> La Chambre Lune </h3>
						<div class="text">
				<p>{{ "Les_suites_et_Les_chambres_du_Riad_Mazal_Lune_text"|trans()}}
                                   </p>
					 </div>	
                                                    <div id="ChambreLune" style="display:none;">
                                                        <img alt="Chambre Lune: Chambre" src="{{asset ("/images/images_petit/IMG_6186.jpg")}}"
                                                    data-image="{{asset ("/images/images_large/IMG_6186.jpg")}}"
                                                    data-description="Chambre Lune: Chambre">
                                                        <img alt="La Chambre Lune: Salle de bain" src="{{asset ("/images/images_petit/IMG_6192.jpg")}}"
                                                    data-image="{{asset ("/images/images_large/IMG_6192.jpg")}}"
                                                    data-description="La Chambre Lune: Salle de bain">

                                            <img alt="La Chambre Lune: Chambre" src="{{asset ("/images/images_petit/IMG_6191.jpg")}}"
                                                    data-image="{{asset ("/images/images_large/IMG_6191.jpg")}}"
                                                    data-description="La Chambre Lune: Chambre"> 
                                            <img alt="La Chambre Lune: Chambre" src="{{asset ("/images/images_petit/petit8.jpg")}}"
                                                    data-image="{{asset ("/images/images_large/grand10.jpg")}}"
                                                    data-description="La Chambre Lune: Chambre"> 
                                            <img alt="La Chambre Lune: Chambre" src="{{asset ("/images/images_petit/petit9.jpg")}}"
                                                    data-image="{{asset ("/images/images_large/grand9.jpg")}}"
                                                    data-description="La Chambre Bleu: Chambre"> 
                                           

</div>
</div>
       
                 <div class="tab-pane" id="Chambre_Soleil">
          <h3> La Chambre Soleil </h3>
                  <div class="clearfix">
						<div class="text">
				<p>{{ "Les_suites_et_Les_chambres_du_Riad_Mazal_Soleil_text"|trans()}}
                                    Chambre avec deux lits séparés, bagnoire et dressing. C’est une chambre lumineuse avec ses coleurs rouge et jaune qui donne une  atmosphère solaire.</p>
											 </div>
						</div>
						<div class="clearfix">
                            
								
                                                    <div id="ChambreSoleil" style="display:none;">
                                                        <img alt="La Chambre Soleil: Chambre" src="{{asset ("/images/images_petit/IMG_6174.jpg")}}"
                                                    data-image="{{asset ("/images/images_large/IMG_6174.jpg")}}"
                                                    data-description="La Chambre Soleil: Chambre">
                                                        <img alt="La Chambre Soleil: Salle de bain" src="{{asset ("/images/images_petit/IMG_6180.jpg")}}"
                                                    data-image="{{asset ("/images/images_large/IMG_6180.jpg")}}"
                                                    data-description="La Chambre Soleil: Salle de bain">
</div>
</div>
          </div>
                
                </div>
               
                                                    {% endblock %}

{% block stylesheets %}

{% endblock %}

   
        {% block javascripts %} 
           <script type="text/javascript"> 
			
			jQuery(document).ready(function(){ 
                             
                                jQuery("#gallery").unitegallery(); 
                                jQuery("#SuiteBeldi").unitegallery(); 
				jQuery("#ChambreArc-en-ciel").unitegallery(); 
                                jQuery("#ChambreBleu").unitegallery();
                                jQuery("#ChambreLis").unitegallery(); 
                                jQuery("#ChambreEtoile").unitegallery(); 
                                jQuery("#ChambreLune").unitegallery(); 
                                jQuery("#ChambreSoleil").unitegallery(); 
                                gallery_theme: "tiles"
			}); 
		
		</script>
     
{% endblock %}
